*{
  margin: 0px;
  border-radius: 8px;
  font-family: Century Gothic;
  font-size: 18px;
  letter-spacing: 3px;

}

a {
  outline: none;

  text-decoration: none;

  background: none;
}

ol{
  list-style-type: circle;
}

li{
  text-align: left;
  margin-bottom: 8px;

}

h3{
  margin-bottom: 8px;
}



.header-class{
  border-radius: 0;
  background: #c7fcec;
  width: 100%;
  border-bottom: 10px solid white;
  outline: 10px solid #dedee9;
  margin-bottom: 30px;
}

.button-area{
  float: center;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.button-class button{
  width: 150px;
  height: 30px;

  background-color: white;
  outline: none;
  border: none;
  box-shadow: 4px 4px 0 0 #acdbce;

  margin-right: 40px;
  margin-left: 40px;
}

.button-class button:hover
{
    transition-duration: 0.4s;
    box-shadow: 6px 6px 0 0 #acdbce;
}

.main-class{
  width: 80%;
  height: 100;

}

.level-class
{
  width: 50%;

  position: relative;


}

.level-class button
{
  width: 70%;
  float: left;
  outline: none;

  background: #ffffff;
  border: 0;
  border-radius: 10px;
  box-shadow: 10px 10px 0 0 #dedee9;

  position: relative;

  margin-bottom: 80px;
  transition-duration: 0.4s;
}

.level-class button:hover
{
    margin-top: 5px;
    margin-bottom: 75px;
    box-shadow: 6px 6px 0 0 #dedee9;
}

 .first
{
  position: relative;
}

.left-side
{
  width: 20%;
  height: 100%;
  float: left;
}

.right-side
{
  width: 80%;

  position: relative;

  float: right;
    /* margin-bottom: 10px; */
}



 hr
{

  background: #e6e6fa;
  border: none;
  border-radius: 30px;

  height: 5px;

}

.ball
{
    width: 20px;
    height: 20px;
    position: relative;
    top: 19px;
    background: white;
    border-radius: 100%;
    border: 10px solid #c7fcec;
    box-shadow: 0 0 0 10px #e6e6fa;


}


.right-side p{
    padding: 8px;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}
